# Down sampling とbaggingを試してみる。
reference:https://upura.hatenablog.com/entry/2019/01/12/193000

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
folder_path = '/tmp/working/IEEE_Fraud_Detection/data/input/'
train_identity = pd.read_csv(f'{folder_path}train_identity.csv')
train_transaction = pd.read_csv(f'{folder_path}train_transaction.csv')
test_identity = pd.read_csv(f'{folder_path}test_identity.csv')
test_transaction = pd.read_csv(f'{folder_path}test_transaction.csv')
sub = pd.read_csv(f'{folder_path}sample_submission.csv')
# let's combine the data and work with the whole dataset
train = pd.merge(train_transaction, train_identity, on='TransactionID', how='left')
test = pd.merge(test_transaction, test_identity, on='TransactionID', how='left')

del train_identity, train_transaction, test_identity, test_transaction

one_value_cols = [col for col in train.columns if train[col].nunique() <= 1]
one_value_cols_test = [col for col in test.columns if test[col].nunique() <= 1]
one_value_cols == one_value_cols_test

False

In [3]:
## この特徴量は無理
train['TransactionAmt_to_mean_card1'] = train['TransactionAmt'] / train.groupby(['card1'])['TransactionAmt'].transform('mean')
train['TransactionAmt_to_mean_card4'] = train['TransactionAmt'] / train.groupby(['card4'])['TransactionAmt'].transform('mean')
train['TransactionAmt_to_std_card1'] = train['TransactionAmt'] / train.groupby(['card1'])['TransactionAmt'].transform('std')
train['TransactionAmt_to_std_card4'] = train['TransactionAmt'] / train.groupby(['card4'])['TransactionAmt'].transform('std')

test['TransactionAmt_to_mean_card1'] = test['TransactionAmt'] / test.groupby(['card1'])['TransactionAmt'].transform('mean')
test['TransactionAmt_to_mean_card4'] = test['TransactionAmt'] / test.groupby(['card4'])['TransactionAmt'].transform('mean')
test['TransactionAmt_to_std_card1'] = test['TransactionAmt'] / test.groupby(['card1'])['TransactionAmt'].transform('std')
test['TransactionAmt_to_std_card4'] = test['TransactionAmt'] / test.groupby(['card4'])['TransactionAmt'].transform('std')


#この特徴量はいける！！
train['id_02_to_mean_card1'] = train['id_02'] / train.groupby(['card1'])['id_02'].transform('mean')
train['id_02_to_mean_card4'] = train['id_02'] / train.groupby(['card4'])['id_02'].transform('mean')
train['id_02_to_std_card1'] = train['id_02'] / train.groupby(['card1'])['id_02'].transform('std')
train['id_02_to_std_card4'] = train['id_02'] / train.groupby(['card4'])['id_02'].transform('std')

test['id_02_to_mean_card1'] = test['id_02'] / test.groupby(['card1'])['id_02'].transform('mean')
test['id_02_to_mean_card4'] = test['id_02'] / test.groupby(['card4'])['id_02'].transform('mean')
test['id_02_to_std_card1'] = test['id_02'] / test.groupby(['card1'])['id_02'].transform('std')
test['id_02_to_std_card4'] = test['id_02'] / test.groupby(['card4'])['id_02'].transform('std')

## この特徴量は無理
train['D15_to_mean_card1'] = train['D15'] / train.groupby(['card1'])['D15'].transform('mean')
train['D15_to_mean_card4'] = train['D15'] / train.groupby(['card4'])['D15'].transform('mean')
train['D15_to_std_card1'] = train['D15'] / train.groupby(['card1'])['D15'].transform('std')
train['D15_to_std_card4'] = train['D15'] / train.groupby(['card4'])['D15'].transform('std')


test['D15_to_mean_card1'] = test['D15'] / test.groupby(['card1'])['D15'].transform('mean')
test['D15_to_mean_card4'] = test['D15'] / test.groupby(['card4'])['D15'].transform('mean')
test['D15_to_std_card1'] = test['D15'] / test.groupby(['card1'])['D15'].transform('std')
test['D15_to_std_card4'] = test['D15'] / test.groupby(['card4'])['D15'].transform('std')

# この特徴量は無理 
train['D15_to_mean_addr1'] = train['D15'] / train.groupby(['addr1'])['D15'].transform('mean')
train['D15_to_mean_addr2'] = train['D15'] / train.groupby(['addr2'])['D15'].transform('mean')
train['D15_to_std_addr1'] = train['D15'] / train.groupby(['addr1'])['D15'].transform('std')
train['D15_to_std_addr2'] = train['D15'] / train.groupby(['addr2'])['D15'].transform('std')

test['D15_to_mean_addr1'] = test['D15'] / test.groupby(['addr1'])['D15'].transform('mean')
test['D15_to_mean_addr2'] = test['D15'] / test.groupby(['addr2'])['D15'].transform('mean')
test['D15_to_std_addr1'] = test['D15'] / test.groupby(['addr1'])['D15'].transform('std')
test['D15_to_std_addr2'] = test['D15'] / test.groupby(['addr2'])['D15'].transform('std')

#この特徴量はいける！！
train[['P_emaildomain_1', 'P_emaildomain_2', 'P_emaildomain_3']] = train['P_emaildomain'].str.split('.', expand=True)
train[['R_emaildomain_1', 'R_emaildomain_2', 'R_emaildomain_3']] = train['R_emaildomain'].str.split('.', expand=True)
test[['P_emaildomain_1', 'P_emaildomain_2', 'P_emaildomain_3']] = test['P_emaildomain'].str.split('.', expand=True)
test[['R_emaildomain_1', 'R_emaildomain_2', 'R_emaildomain_3']] = test['R_emaildomain'].str.split('.', expand=True)

many_null_cols = [col for col in train.columns if train[col].isnull().sum() / train.shape[0] > 0.9]
many_null_cols_test = [col for col in test.columns if test[col].isnull().sum() / test.shape[0] > 0.9]

big_top_value_cols = [col for col in train.columns if train[col].value_counts(dropna=False, normalize=True).values[0] > 0.9]
big_top_value_cols_test = [col for col in test.columns if test[col].value_counts(dropna=False, normalize=True).values[0] > 0.9]




cols_to_drop = list(set(many_null_cols + many_null_cols_test + big_top_value_cols + big_top_value_cols_test + one_value_cols+ one_value_cols_test))
cols_to_drop.remove('isFraud')
len(cols_to_drop)

train = train.drop(cols_to_drop, axis=1)
test = test.drop(cols_to_drop, axis=1)

cat_cols = ['id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29',
            'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo', 'ProductCD', 'card4', 'card6', 'M4','P_emaildomain',
            'R_emaildomain', 'card1', 'card2', 'card3',  'card5', 'addr1', 'addr2', 'M1', 'M2', 'M3', 'M5', 'M6', 'M7', 'M8', 'M9',
            'P_emaildomain_1', 'P_emaildomain_2', 'P_emaildomain_3', 'R_emaildomain_1', 'R_emaildomain_2', 'R_emaildomain_3']

for col in cat_cols:
    if col in train.columns:
        le = LabelEncoder()
        le.fit(list(train[col].astype(str).values) + list(test[col].astype(str).values))
        train[col] = le.transform(list(train[col].astype(str).values))
        test[col] = le.transform(list(test[col].astype(str).values))

In [8]:
train_fr = train.loc[train['isFraud'] == 1]
train_nofr = train.loc[train['isFraud'] == 0]

In [20]:
train[train['isFraud']==1].shape[0]/(train[train['isFraud']==0].shape[0]+train[train['isFraud']==1].shape[0])

0.03499000914417313

In [22]:
train_nofr_dwsp = train_nofr.sample(n = train_fr.shape[0]*9, replace=True, random_state=0 )

In [23]:
train_fr.shape[0]/(train_nofr_dwsp.shape[0] + train_fr.shape[0])

0.1

In [26]:
train_dwsp = pd.concat([train_fr, train_nofr_dwsp]).sample(frac=1, random_state=0)
train_dwsp.head(20)

        TransactionID  isFraud  ...  R_emaildomain_1  R_emaildomain_2
176610        3163610        1  ...               25                7
21935         3008935        0  ...               25                7
100649        3087649        0  ...               19                2
241546        3228546        0  ...               25                7
177540        3164540        0  ...               25                7
230262        3217262        0  ...               25                7
185365        3172365        0  ...               25                7
138557        3125557        0  ...               25                7
415824        3402824        0  ...               25                7
358551        3345551        0  ...               25                7
41659         3028659        1  ...               15                2
449789        3436789        1  ...               17                2
558140        3545140        0  ...               25                7
258989        3245989        1  ...               15                2
286430        3273430        1  ...               25                7
352606        3339606        0  ...               25                7
370738        3357738        0  ...               25                7
228534        3215534        0  ...               25                7
318144        3305144        0  ...               25                7
44593         3031593        0  ...               25                7

[20 rows x 372 columns]

In [4]:
X = train.sort_values('TransactionDT').drop(['isFraud', 'TransactionDT', 'TransactionID'], axis=1)
y = train.sort_values('TransactionDT')['isFraud']
# X_test = test.sort_values('TransactionDT').drop(['TransactionDT', 'TransactionID'], axis=1)
# del train
test = test[["TransactionDT", 'TransactionID']]

In [5]:
X.describe().T[X.describe().T['max'] == np.inf]

                                count  mean  std  ...       50%       75%  max
TransactionAmt_to_std_card1  587096.0   inf  NaN  ...  0.512906  1.059265  inf
D15_to_std_card1             495034.0   inf  NaN  ...  0.324561  1.774351  inf
D15_to_std_addr1             439441.0   inf  NaN  ...  0.408718  1.707858  inf

[3 rows x 8 columns]

In [6]:
# describe(set(cat_cols)-set(['id_18', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27',
#                           'P_emaildomain_1', 'P_emaildomain_2', 'P_emaildomain_3', 'R_emaildomain_1',
#                           'R_emaildomain_2', 'R_emaildomain_3']))].dtypes

In [7]:
import gc 
gc.collect()

80

In [8]:
for col in X.columns.values:
#     if X[col].dtypes == np.int:
#         X[col].fillna(1, inplace=True)
    if X[col].dtypes == np.float:
        X[col].fillna(-999, inplace=True)

In [9]:
# X.iloc[0, 0] = np.nan

In [10]:
np.isnan(X.values).any()

False

In [11]:
X.head()

   TransactionAmt  ProductCD  ...  R_emaildomain_1  R_emaildomain_2
0            68.5          4  ...               25                7
1            29.0          4  ...               25                7
2            59.0          4  ...               25                7
3            50.0          4  ...               25                7
4            50.0          1  ...               25                7

[5 rows x 369 columns]

In [12]:
X = X.replace([np.inf, -np.inf], np.nan)
X.describe().T[X.describe().T['max'] == np.inf]

Empty DataFrame
Columns: [count, mean, std, min, 25%, 50%, 75%, max]
Index: []

In [13]:
np.isnan(X.values).any()

True

In [14]:
X['TransactionAmt_to_std_card1'].replace(to_replace=np.nan, value=X['TransactionAmt_to_std_card1'].max(), inplace=True)
X['D15_to_std_card1'].replace(to_replace=np.nan, value=X['D15_to_std_card1'].max(), inplace=True)
X['D15_to_std_addr1'].replace(to_replace=np.nan, value=X['D15_to_std_addr1'].max(), inplace=True)

In [15]:
np.isnan(X.values).any()

False

In [16]:
from imblearn.under_sampling import RandomUnderSampler

sampler = RandomUnderSampler(random_state=42)
# downsampling
X_resampled, y_resampled = sampler.fit_resample(X, y)

Using TensorFlow backend.
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [17]:
X_resampled = pd.DataFrame(X_resampled, columns=X.columns)
X_resampled.head()

   TransactionAmt  ProductCD  ...  R_emaildomain_1  R_emaildomain_2
0           25.00        1.0  ...             17.0              2.0
1          200.00        2.0  ...             15.0              2.0
2          146.00        4.0  ...             25.0              7.0
3           57.95        4.0  ...             25.0              7.0
4           49.00        4.0  ...             25.0              7.0

[5 rows x 369 columns]

In [18]:
y_resampled = pd.Series(y_resampled, name=y.name)
y_resampled.head()

0    0
1    0
2    0
3    0
4    0
Name: isFraud, dtype: int64

In [19]:
X_resampled.replace(to_replace=-999.0, value=np.nan, inplace=True)
X_resampled.head()

   TransactionAmt  ProductCD  ...  R_emaildomain_1  R_emaildomain_2
0           25.00        1.0  ...             17.0              2.0
1          200.00        2.0  ...             15.0              2.0
2          146.00        4.0  ...             25.0              7.0
3           57.95        4.0  ...             25.0              7.0
4           49.00        4.0  ...             25.0              7.0

[5 rows x 369 columns]

In [20]:
len(X[y == 0]), len(X[y==1])

(569877, 20663)

In [21]:
 len(X[y==1])/len(X[y == 0])

0.03625870143908247

In [22]:
len(X_resampled[y_resampled == 0]), len(X_resampled[y_resampled==1])

(20663, 20663)

In [23]:
X.shape

(590540, 369)

In [24]:
y

0         0
1         0
2         0
3         0
4         0
         ..
590535    0
590536    0
590537    0
590538    0
590539    0
Name: isFraud, Length: 590540, dtype: int64

In [25]:
y_resampled

0        0
1        0
2        0
3        0
4        0
        ..
41321    1
41322    1
41323    1
41324    1
41325    1
Name: isFraud, Length: 41326, dtype: int64

In [26]:
len(X_resampled)

41326

In [27]:
X_resampled_s = X_resampled.sample(frac=1, random_state=0)
X_resampled_s.head()

       TransactionAmt  ProductCD  ...  R_emaildomain_1  R_emaildomain_2
27144          22.912        0.0  ...             17.0              2.0
26759         129.950        4.0  ...             25.0              7.0
3656           25.022        0.0  ...             17.0              2.0
322            49.000        4.0  ...             25.0              7.0
21686          97.000        4.0  ...             25.0              7.0

[5 rows x 369 columns]

In [29]:
y_resampled_s = y_resampled.sample(frac=1, random_state=0)
y_resampled_s.head()

27144    1
26759    1
3656     0
322      0
21686    1
Name: isFraud, dtype: int64